<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h4 class="card-title"> Books</h4>
                    </div>
                    <div class="col-12">
                        <form class="form-inline" role="form" [formGroup]="form" (ngSubmit)="search()">
                            <mat-form-field class="p-3">
                                <input matInput placeholder="Title" formControlName="title">
                            </mat-form-field>
                            <mat-form-field class="p-3">
                                <input matInput placeholder="Author" formControlName="author">
                            </mat-form-field>
                            <mat-form-field class="p-3">
                                <mat-label>Genre</mat-label>
                                <mat-select formControlName="genre">
                                    <mat-option [value]="">--</mat-option>
                                    <mat-option *ngFor="let r of genres" [value]="r.genreName">
                                        {{r.genreName}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table mat-table class="w-100" [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="IdBook">
                        <th mat-header-cell *matHeaderCellDef> ID </th>
                        <td mat-cell *matCellDef="let element"> {{element.idBook}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Author">
                        <th mat-header-cell *matHeaderCellDef> Author </th>
                        <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                    </ng-container>

                    <ng-container matColumnDef="PublishedYear">
                        <th mat-header-cell *matHeaderCellDef> PublishedYear </th>
                        <td mat-cell *matCellDef="let element"> {{element.publishedYear}} </td>
                    </ng-container>

                    <ng-container matColumnDef="IdGenre">
                        <th mat-header-cell *matHeaderCellDef> Genre</th>
                        <td mat-cell *matCellDef="let element"> {{element.genre.genreName}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Quantity">
                        <th mat-header-cell *matHeaderCellDef> Quantity</th>
                        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
                    </ng-container>
                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef> Options</th>
                        <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-primary"
                                (click)="openDialog(element)" ><i class="bi bi-journal-text"></i>
                            </button>

                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <!-- <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
                  [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
                </mat-paginator>             -->
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-header text-center">
                <h5 class="card-title"> My cart</h5>
            </div>
            <div class="card-body">
                <table mat-table class="w-100" [dataSource]="dataSourceTemp">
                    <ng-container matColumnDef="Title">
                        <th mat-header-cell *matHeaderCellDef> Title </th>
                        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                    </ng-container>
                    <ng-container matColumnDef="options">
                        <th mat-header-cell *matHeaderCellDef> Options</th>
                        <td mat-cell *matCellDef="let element"> <button type="button" class="btn btn-danger"
                                (click)="remove(element)"><i class="bi  bi-cart-dash"></i>
                            </button>

                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsTemp"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsTemp;"></tr>
                </table>
                <div class="row">
                    <div class="col-12 text-center">
                        <button type="button" class="btn btn-success" *ngIf="dataSourceTemp.data.length > 0" (click)="submit()">Check out</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>